$spice-font-family: fantasy;
$spice-name-font-size: 0.3in;
$spice-font-top-offset-magic-number: 0;

$spice-font-family: consolas;
$spice-name-font-size: 0.27in;
// Consolas glyphs apparently aren't perfectly vertically centered? Yikes, hack
// around that here.
$spice-font-top-offset-magic-number: 0px;

$digit-font-family: sans-serif;
$digit-cell-size: 0.075in;
$digit-font-size: 0.075in;
$years-padding: 0.2in;

// TODO: explain
$printer-hack: 0mm;

$spice-name-margin: $years-padding + $digit-cell-size + 0.2in;

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.sheet {
  display: grid;
  // https://www.onlinelabels.com/templates/blank/ol914?type=pdf
  width: 8.5in;
  height: 11in;
  grid-template-columns: repeat(4, 1.75in);
  grid-template-rows: repeat(5, 1.75in);
  padding-top: 0.4in + $printer-hack; // "Top Margin"
  padding-bottom: 0.4in - $printer-hack; // "Bottom Margin"
  padding-left: 0.4453in; // "Left Margin"
  padding-right: 0.4453in; // "Right Margin"
  column-gap: 0.20312in; // "Vertical Spacing"
  row-gap: 0.3625in; // "Horizontal Spacing"

  .label {
    background-color: black;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    border: 1px solid white;
    @media print {
      border: none;
    }
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    position: relative;
    text-align: center;
    font-size: $spice-name-font-size;

    .spice-name-wrapper {
      width: calc(100% - #{$spice-name-margin});
      line-height: 0.6;
      font-family: $spice-font-family;
      margin-top: $spice-font-top-offset-magic-number;
      text-transform: uppercase;
      overflow-wrap: anywhere;

      .spice-name {
        line-height: normal;

        .spice-name-part {
          font-size: 0.9em;
        }
      }

      .spice-subname {
        font-size: 0.6em;
        text-transform: lowercase;
      }
    }

    .label-oversize {
      border-radius: 50%;
      width: calc(100% + 0.2in);
      height: calc(100% + 0.2in);
      position: absolute;
      background-color: black;
      z-index: -1; // Don't cover the spice label.
    }

    .years-path {
      border-radius: 50%;
      width: calc(100% - #{$years-padding});
      height: calc(100% - #{$years-padding});
      position: absolute;

      .digit {
        position: absolute;
        left: 50%;
        height: 100%;

        .digit-bg {
          font-family: $digit-font-family;
          background-color: white;
          color: black;
          position: absolute;
          left: -$digit-cell-size / 2;
          width: $digit-cell-size;
          height: $digit-cell-size;
          font-size: $digit-font-size;

          // Center text within the box.
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
